<table style="width:950px;">
	<tr>
		<td style="width:90px">Orden Viaje</td>
		<td id="equipos_estado_viaje"></td>
	</tr>
	<tr>
		<td style="width:80px">GPS</td>
		<td id="equipos_estado_gps"></td>
	</tr>
	<tr>
		<td>Equipo</td>
		<td id="equipos_estado_equipo"></td>
	</tr>
	<tr>
		<td colspan="2"><div id="equipos_estado_grid_summary"></div></td>
	</tr>
	<tr>
		<td colspan="2"><div id="equipos_estado_grid"></div></td>
	</tr>
</table>