@{

	Layout = "_AppLayoutTabbedForm3";

	var layoutModel = new GPSMonitoreo.Web.ViewModels.AppLayoutForm(this.ViewContext);

	layoutModel.Title = "GEOGRAFICO::TRAYECTOS";

	ViewData["layoutModel"] = layoutModel;


	var relationalViewComponentModel = new
	{
		model = new GPSMonitoreo.Web.ViewComponents.Models.FormRelationalGridModel()
		{
			Title = "RUTAS",
			FormId = layoutModel.FormId,
			FieldName = "Routes",
			AddMethod = "form.windowSearch(grid)"
		}
	};

}

<script script-manager-add="commonform" script-manager-key="form_init">
	layout.addFormInitializer(function(form){
		var f = form.formElement;

		form.add(f.elements.AlternateId, 'jqxInput');

		form.toJsonHooks.push(function(data) {
			//data.Child = [{value: 1230}, {value: 13}];
			//data.Child = {value: 10};
		});

		form.windowSearch = function(grid) {
			App.geographics.routes.windowSearch(function(item){
				grid.addrow(null, {Id: item.Id, Description: item.Description});
			});
		}
	});


</script>

<formsection form-manager="commonform" form-manager-section="section1">
		<tr>
			<td>Código Alterno</td>
			<td><input type="text" name="AlternateId" maxlength="10" /></td>
			<td colspan="3"></td>
		</tr>
</formsection>

<formsection form-manager="commonform" form-manager-section="section2">
	
</formsection>

<formsection form-manager="commonform" form-manager-section="section3">

</formsection>

<formsection form-manager="commonform" form-manager-section="section4">
	@await Component.InvokeAsync(typeof(GPSMonitoreo.Web.ViewComponents.FormRelationalGrid2), relationalViewComponentModel)
</formsection>


@section tabtitles{

}

@section tabs{

}
