@model GPSMonitoreo.Web.ViewModels.TabbedLayoutForm
@{

	Layout = "~/Views/Shared/_TabbedLayoutForm.cshtml";
}

<script script-manager-add="commonform" script-manager-key="form_init">


	var $paises_div = $('#@(Model.FormId)_edit_paises');

	$paises_div.on('select', function(event){
		var args = event.args;
		var item = $($paises_div).jqxDropDownList('getItem', args.index);
		console.log(item.value);
	});

	form.add($paises_div, 'jqxDropDownList', {placeHolder: '', source: @Html.Raw(ViewData["paises"]) });


	function windowSearch(grid){
		App.localidades.provincias.windowSearch(function(item){
			grid.addrow(null, {id: item.id, descripcion: item.descripcion});
		});
	}
</script>

<formsection form-manager="commonform" form-manager-section="section1">
	<tr>
		<td>Pais</td>
		<td>
			<div id="@(Model.FormId)_edit_paises" field_name="pais"></div>
			
		</td>
		<td></td>		
	</tr>
	

</formsection>
