@{
    //IgnoreBody();

    
    
}

<script inline-script-render="form_init">xxx</script>
<div class="panel_input">
	<div class="header">
	GEOGRAFICO::CERCAS
	</div>
	<div class="body">
    @RenderSection("form", false);
    
    
    </div>
	<div class="footer">
		<button type="button">Guardar</button>
		<div class="input_error"></div>
	</div>
    
</div>





@RenderBody()
