<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conn" connectionString="Data Source=DEVSRV01;Initial Catalog=SysproCompany1;User ID=UsuarioExtSyspro;Password=CmpCph2011"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>